<div class='container'>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Restaurants</span>
      <ul class="list-inline">
        <li><%= link_to "Restaurants", root_path %></li>
        <li><%= link_to "add a new", new_restaurant_path, class: "btn btn-primary" %></li>
      </ul>
  </nav>
</div>


<%# list-style-type: none; %>
